celery==5.4.0
Django==5.2.13
django-anymail[resend]
djangorestframework==3.17.1
djangorestframework-simplejwt==5.3.1
django-celery-beat==2.8.1
django_celery_results==2.6.0
django-cors-headers==3.13.0
gunicorn==21.2.0
psycopg[binary]
python-decouple==3.6
redis==5.2.0
requests==2.28.0
requests==2.31.0
# resend==2.30.1
whitenoise==6.5.0